<div class="container-fluid">
    <div class="row mt-3 align-items-center">
      <div class="col-md-12">
        <div class="mat-elevation-z8">

            <mat-card-title>
                <div class="row">
                    <div class="col-6">
                        <h5 class="float-left margin0">Appointment Details</h5>
                    </div> 
                </div>
                <hr class="margin0">
            </mat-card-title>

           <mat-card class="artist-cards">
            <mat-card-content>
                <!-- Top Of Card -->
                <div class="row mt-4">
                    <div class="col-1">
                        <img src="assets/images/profileImage.png" class="round-img" alt="">
                    </div>
                    <div class="col-4">
                        <span>Artist</span>
                    </div>
                    <div class="col-7 row">
                        <div class="col-12">
                            <span class="float-right">12 10 22</span>
                        </div>
                        <div class="col-12">
                            <span class="float-right"> 16:30</span>
                        </div>
                        <div class="col-12">
                            <span class="float-right">3hrs 15 min</span>
                        </div>
                    </div>
                </div>
                
                <!-- details -->
                <div class="row mt-2">
                    <div class="col-6">
                        <span>Client : Zen donegan</span>
                    </div>
                </div>
    
                <div class="row mt-2">
                    <div class="col-6">
                        <span>Tel : 034983457</span>
                    </div>
                </div>
    
                <div class="row mt-2">
                    <div class="col-6">
                        <span>Email : xyz@gmail.com</span>
                    </div>
                </div>
                <!-- =======Break -->
                <div class="row mt-5">
                    <div class="col-6">
                        <span>Tattoo Location : Lower back</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-6">
                        <span>Price : $ 450</span>
                    </div>
                </div>

                <!-- Images -->

                <div class="row mt-5">
                    <div class="col-3">
                        <img src="assets/images/tattoo1.png" class="square-img" alt="">
                    </div>
                    <div class="col-3">
                        <img src="assets/images/tatoo2.png" class="square-img" alt="">
                    </div>
                    <div class="col-3">
                        <img src="assets/images/tatoo3.png" class="square-img" alt="">
                    </div>
                    <div class="col-3">
                        <img src="assets/images/tatoo4.png" class="square-img" alt="">
                    </div>
                </div>


                <div class="row mt-5">
                    <div class="col-4">
                        <form>
                            <mat-checkbox>Hide required marker</mat-checkbox>
                        </form>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-4">
                        <form>
                            <mat-checkbox>Cancel</mat-checkbox>
                        </form>
                    </div>
                </div>


                <div class="row mt-5">
                    <div class="col-6">
                        <button mat-button color="primary" class="float-left">Reschedule</button>
                    </div>
                    <div class="col-6">
                        <button mat-button color="primary" class="float-right" (click)="closeDialog()">Close</button>
                    </div>
                </div>

            </mat-card-content>
           </mat-card>

            <!-- <mat-dialog-actions class="float-right">
                <button mat-button color="primary" (click)="closeDialog()" class="float-right">Close</button>
            </mat-dialog-actions> -->
            
        </div>
      </div>
    </div>
  </div>


  
 