<div class="container-fluid">
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="align-items-center">
      <div class="mx-auto max-w-lg">
        <h1 class="text-6xl text-white">
          <span class="text-primary">Welcome</span> Back
        </h1>
        <p>Please login to continue</p>

        <div>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
            <mat-error
              *ngIf="loginForm.controls['username'].hasError('required')"
            >
              Username is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-icon
              *ngIf="!showPassword"
              (click)="toggleShow()"
              matSuffix
              name="eye-outline"
            ></mat-icon>
            <mat-icon
              *ngIf="showPassword"
              (click)="toggleShow()"
              name="eye-off-outline"
              matSuffix
            ></mat-icon>
            <mat-error
              *ngIf="loginForm.controls['password'].hasError('required')"
            >
              Password is required
            </mat-error>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          type="submit"
          routerLink="/client/client-dashboard"
          [disabled]="!loginForm.valid"
          class="w-full bg-primary"
          color="primary"
        >
          Login
        </button>

        <!-- <div class="row mt-3">
            <div class="col-7 text-left">
              Need an account? <a routerLink="/register">SIGN UP</a>
            </div>
            <div class="col-5 text-right">
              <a routerLink="/forget-password">Forgot Password?</a>
            </div>
          </div> -->
      </div>
    </div>
  </form>
</div>
