<div class="container-fluid">
  <div class="row align-items-center mt-3">
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <mat-card-title>
          <div class="row">
            <div class="col-6">
              <h5 class="margin0 float-left">{{ today | date : "medium" }}</h5>
            </div>
            <div class="col-6">
              <h5 class="margin0 float-right">Your Appointments</h5>
            </div>
          </div>
          <hr class="margin0" />
        </mat-card-title>

        <ng-container *ngFor="let event of data.events">
          <mat-card class="artist-cards mb-3" (click)="openDialog(event)">
            <mat-card-content>
              <div class="row">
                <div class="col-1">
                  <img
                    src="assets/images/profileImage.png"
                    class="round-img"
                    alt=""
                  />
                </div>
                <div class="col-4">
                  <span>Appointment Date</span>
                </div>
                <div class="col-7">
                  <span class="float-right"
                    >{{ event.startDateStr }} {{ event.startTime }}</span
                  >
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-1">&nbsp;</div>
                <div class="col-4">
                  <span>Customer Name</span>
                </div>
                <div class="col-7">
                  <span class="float-right"
                    >{{ event.customerDTO.firstName }}
                    {{ event.customerDTO.lastName }}</span
                  >
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-1">&nbsp;</div>
                <div class="col-4">
                  <span>Telephone</span>
                </div>
                <div class="col-7">
                  <span class="float-right">{{
                    event.customerDTO.telNumber
                  }}</span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>

        <mat-dialog-actions class="float-right">
          <button
            mat-button
            color="primary"
            (click)="closeDialog()"
            class="float-right"
          >
            Close
          </button>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
</div>
