<div class="container-fluid">

  <div class="row mt-3">
    <div class="col-md-6">
      <mat-card class="dashboard-cards" id="artist-table-card">
        <mat-card-content>
          <div class="mat-elevation-z8">
            <table aria-describedby="" mat-table [dataSource]="dataSource" matSort>
    
              <!-- Artist Column -->
              <ng-container matColumnDef="Artist">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Artist
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.firstName }}
                </td>
              </ng-container>
    
              <!-- Started Column -->
              <ng-container matColumnDef="Started">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Started
                </th>
                <td mat-cell *matCellDef="let row">{{ row.createDate | date:'medium' }}</td>
              </ng-container>
    
              <!-- Hours -->
              <ng-container matColumnDef="Hours">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hours</th>
                <td mat-cell *matCellDef="let row">{{ row.hours }}</td>
              </ng-container>
    
              <!-- No Tat -->
              <ng-container matColumnDef="No tat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No tat</th>
                <td mat-cell *matCellDef="let row">{{ row.no_tat }}</td>
              </ng-container>
    
              <!-- Earned Column -->
              <ng-container matColumnDef="Earned">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Earned</th>
                <td mat-cell *matCellDef="let row">{{ row.earned }}</td>
              </ng-container>
    
              <!-- View Column -->
              <ng-container matColumnDef="View">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>View</th>
                <td mat-cell *matCellDef="let row" (click)="openDialog(row)">
                  <mat-icon>remove_red_eye</mat-icon>
                </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
              <!-- Row shown when there is no matching data. -->
              
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card class="dashboard-cards">
        <mat-card-content>
          <div class="chart" *ngIf="showCharts">
            <highcharts-chart
            [Highcharts] = "highcharts" 
            [options] = "monthlyOrders" 
            style = "width: 100%; height: 295px; display: block;">
            </highcharts-chart>
        </div>
        </mat-card-content>
      </mat-card>
    
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-4">
      <div class="dashboard-circle">
        <p class="circle-text">{{totalClients}} <br><br> Clients</p>
        <!-- <p class="circle-text">Clients</p> -->
      </div>
      <!-- <mat-card class="dashboard-cards">
        <mat-card-content>
          <ngx-donut-chart
              [data]="totalClients"
              [title]="'Total Clients'"
              [radius]="100"
              [thickness]="4"
              [margin]="80">
            </ngx-donut-chart>
        </mat-card-content>
      </mat-card> -->
    </div>
    <div class="col-4">
      <div class="dashboard-circle">
        <p class="circle-text">{{totalTatoos}} <br><br> Tattoos</p>
      </div>
    </div>
    <div class="col-4">
      <div class="dashboard-circle">
        <p class="circle-text">{{cancelledEvent}} <br><br> Canceled</p>
      </div>
    </div>
    <!-- <div class="col-4">
      <mat-card class="dashboard-cards">
        <mat-card-content>
          <ngx-donut-chart
              [data]="totalClients"
              [title]="'Tattoos'"
              [radius]="88"
              [thickness]="4"
              [margin]="80">
            </ngx-donut-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-4">
      <mat-card class="dashboard-cards">
        <mat-card-content>
          <ngx-donut-chart
              [data]="totalClients"
              [title]="'Cancellation No Shows'"
              [radius]="100"
              [thickness]="4"
              [margin]="80">
            </ngx-donut-chart>
        </mat-card-content>
      </mat-card>
    </div> -->

  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <mat-card class="dashboard-cards">
        <mat-card-content>
          <div class="chart" *ngIf="showCharts">
            <highcharts-chart
            [Highcharts] = "highcharts" 
            [options] = "todayOrders" 
            style = "width: 100%; height: 295px; display: block;">
            </highcharts-chart>
        </div>
        </mat-card-content>
      </mat-card>
    
    </div>
  </div>

</div>
