.round-img {
  width: 35px !important;
  height: 35px !important;
  object-fit: cover;
  border-radius: 50% !important;
  border: 1px solid #0000;
}

.artist-cards {
  background-color: #d7dbdd !important;
  color: black I !important;
}

.square-img {
  width: 105px !important;
  height: 105px !important;
  object-fit: cover;
  border-radius: 5px !important;
  border: 1px solid #0000;
}
