$main-color: #79ef31;
$theme-color-2: #4d7058;
$theme-color-3: #9ca397;
$theme-color-4: #808d6e;
$theme-color-5: #5d946f;
$theme-color-6: #7e9172;
$theme-color-1-10: rgba(99, 136, 59, 0.1);
$theme-color-2-10: rgba(77, 112, 88, 0.1);
$theme-color-3-10: rgba(156, 163, 151, 0.1);
$theme-color-4-10: rgba(128, 141, 110, 0.1);
$theme-color-5-10: rgba(93, 148, 111, 0.1);
$theme-color-6-10: rgba(126, 145, 114, 0.1);
$font-icon-color: #fff;
$back-color: #000;
$card-color: #212220;
$table-line-colors: #232b2b;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "sans-serif" !important;
  color: $font-icon-color;
  font-weight: 300;
  background-color: $back-color;
}
