@import "base";

//styling the buttons on top of the calendar
.fc-prev-button {
  background-color: $back-color !important;
  color: $main-color !important;
  border-color: $main-color !important;
}

.fc-prev-button:hover {
  background-color: $main-color !important;
  color: $card-color !important;
}

.fc-next-button {
  background-color: $back-color !important;
  color: $main-color !important;
  border-color: $main-color !important;
}

.fc-next-button:hover {
  background-color: $main-color !important;
  color: $card-color !important;
}

.fc-today-button {
  background-color: $main-color !important;
  color: $card-color !important;
}

.fc-today-button:hover {
  background-color: $back-color !important;
  color: $main-color !important;
  border-color: $main-color !important;
}

.fc-dayGridMonth-button {
  background-color: $main-color !important;
  color: $card-color !important;
}

.fc-dayGridMonth-button:hover {
  background-color: $back-color !important;
  color: $main-color !important;
  border-color: $main-color !important;
}

.fc-timeGridWeek-button {
  background-color: $main-color !important;
  color: $card-color !important;
}

.fc-timeGridWeek-button:hover {
  background-color: $back-color !important;
  color: $main-color !important;
  border-color: $main-color !important;
}

.fc-timeGridDay-button {
  background-color: $main-color !important;
  color: $card-color !important;
}

.fc-timeGridDay-button:hover {
  background-color: $back-color !important;
  color: $main-color !important;
  border-color: $main-color !important;
}

.fc-listWeek-button {
  background-color: $main-color !important;
  color: $card-color !important;
}

.fc-listWeek-button:hover {
  background-color: $back-color !important;
  color: $main-color !important;
  border-color: $main-color !important;
}

@mixin buttonBase {
  @apply cursor-pointer;
  @apply inline-flex;
  @apply items-center;
  // @apply justify-center;
  @apply font-normal;
  @apply text-center;
  @apply whitespace-nowrap;
  @apply text-base;
  @apply rounded;
  @apply py-2 px-4;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  // disabled
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
    pointer-events: none;
    background: #6b7280 !important;
  }
}

@mixin button($bg, $color, $hover_bg, $hover_color) {
  &:not(.outlined) {
    @apply text-#{$color};
    @apply bg-#{$bg};
    @apply hover:bg-#{$hover_bg};
    @apply hover:text-#{$hover_color};
  }

  &.outlined {
    @apply outline;
    @apply outline-offset-[-2px];
    @apply outline-1;
    @apply outline-#{$bg};
    @apply text-#{$bg};
    @apply hover:bg-#{$bg};
    @apply hover:text-#{$color};
  }

  &.ghost {
    @apply text-#{$bg};
    @apply hover:text-#{$color};
    @apply text-#{$bg};
    @apply bg-transparent;
    @apply hover:bg-#{'transparent'};
    @apply hover:text-#{$hover_bg};
    @apply py-1 px-0;
  }
}

.button {
  @include buttonBase;
  @apply rounded-full;
  box-shadow: 0px 0px 10px #78ef30;

  &.white {
    @include button("white", "black", "white", "black");
  }

  &.secondary {
    @include button("secondary", "white", "secondary", "white");
  }

  &.primary {
    @include button("primary", "black", "primary", "black");
  }

  &.is-loading {
    > span:not(.loader) {
      display: none;
    }
    cursor: not-allowed;
    pointer-events: none;
  }

  .loader {
    svg {
      margin: 0 auto;
    }
  }
}
