.dashboard-cards{
    background-color: #212F3D !important;
    color:white;
}

.dashboard-circle{
    margin: auto !important;
    border-radius: 50% !important;
    width: 200px !important;
    height: 200px !important;
    border:5px solid #36CD1F!important;
    display: flex !important;
    align-items: center !important;
}

#artist-table-card{
    height: 330px !important;
}

.circle-text{
    font-size: 35px !important;
    margin:auto !important;
    text-align:center !important;
}