.dashboard-circle {
  margin: auto !important;
  border-radius: 50% !important;
  width: 200px !important;
  height: 200px !important;
  border: 5px solid #36cd1f !important;
  display: flex !important;
  align-items: center !important;
}

#artist-table-card {
  height: 330px !important;
}

.circle-text {
  font-size: 35px !important;
  margin: auto !important;
  text-align: center !important;
}

.dash-card {
  background-color: #302e2e;
  padding: 1.5rem;
  border-radius: 1rem;
}
