.dashboard-cards{
    background-color: #212F3D !important;
    color:white;
}

.dashboard-circle{
    margin: auto !important;
    border-radius: 50% !important;
    width: 200px !important;
    height: 200px !important;
    border:5px solid white!important;
    display: flex !important;
    align-items: center !important;
}

.circle-text{
    font-size: 45px !important;
    margin:auto !important;
}