@import 'base';


//-------------------------------------------------- start of grid month view styling ----------------------------------
//----------------------------------------------------------------------------------------------------------------------


// numbers inside the date boxes
.fc-daygrid-day-frame{
  color: $main-color;
}

// the date boxes hover color
.fc .fc-daygrid-day:hover {
  background-color: $card-color !important;
}

.fc .fc-daygrid-day{
 background-color: $back-color;

  // grid lines inside the table
  border-color:$table-line-colors !important;
}

// color of the box of today's date
.fc .fc-daygrid-day.fc-day-today {
  background-color:$card-color!important;
}


// the main date at the top of the calendar and days in the table
.fc {
  color: $main-color;
}


// actual sizing of the grid
.fc {
  margin: 5rem;
}


// colors of the days of the week
.fc-scrollgrid {
  color: $main-color;
}


// colours of the table header cell borders
.fc-col-header-cell {
  border-color:$table-line-colors !important;
}

.fc-scrollgrid {
  border-color:$table-line-colors !important;
}

.fc-daygrid fc-dayGridMonth-view fc-view {
  border-color:$table-line-colors !important;
}

.fc-timegrid-axis {
  border-color: $table-line-colors!important;
}


// colors of all the lines inside the grid
.fc-theme-standard td, .fc-theme-standard th{
  border-color: $table-line-colors!important;
}
