.green-snackbar {
  background: #147920;
  color: white;
}
.green-snackbar .mat-simple-snackbar-action {
  color: #fff !important;
  background: #147920 !important;
}
.red-snackbar {
  background: #d62726;
  color: white;
}
.red-snackbar .mat-simple-snackbar-action {
  color: #fff !important;
  background: #d62726 !important;
}
.blue-snackbar {
  background: #3281ca;
  color: white;
}
.blue-snackbar .mat-simple-snackbar-action {
  color: #fff !important;
  background: #3281ca !important;
}
.yellow-snackbar {
  background: #f1c40f;
  color: black;
}
.yellow-snackbar .mat-simple-snackbar-action {
  color: #000 !important;
  background: #f1c40f !important;
}
