.template-cards{
    padding: 0 !important;
    background-color: #212F3D !important;
    color:white;
}

.template-img{
    width: 100% !important;
    height: 300px !important;
    object-fit:cover !important ;
}

// .mat-card-footer{
    
//     padding-top:10px !important;   
// }

.edit-button{
    margin-bottom: 1.5rem !important;
    margin-left:3rem !important
}

.text-black{
    color:black !important;
    align-items: center;
}