@import "base";

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav,
mat-toolbar {
  background-color: $card-color;
}

mat-list-item:hover {
  color: $main-color !important;
}

mat-list-item {
  margin-top: 2rem;
}

.active-link {
  color: $main-color !important;
}

.menu-icon {
  margin-top: 2rem;
}

mat-toolbar h4 {
  padding: 1rem;
}
