<div class="container-fluid">
  <div class="grid gap-6 md:grid-cols-3">
    <div class="col-span-2">
      <div class="mb-6 flex gap-6">
        <div class="stat-card">
          <p class="stat-title">Clients</p>
          <p class="stat-number">{{ totalClients }}</p>
        </div>
        <div class="stat-card">
          <p class="stat-title">Tattoos</p>
          <p class="stat-number">{{ totalTatoos }}</p>
        </div>
        <div class="stat-card">
          <p class="stat-title">Canceled</p>
          <p class="stat-number">{{ cancelledEvent }}</p>
        </div>
        <div class="stat-card">
          <p class="stat-title">Total Earning</p>
          <p class="stat-number">{{ "$3000" }}</p>
        </div>
      </div>

      <mat-card class="dash-card mb-6">
        <app-monthly-chart></app-monthly-chart>
      </mat-card>

      <mat-card class="dash-card mb-6">
        <app-artist-list></app-artist-list>
      </mat-card>
    </div>
    <div class="col-span-1">
      <mat-card class="dash-card mb-6">
        <app-order-reports></app-order-reports>
      </mat-card>
      <mat-card class="dash-card">
        <app-client-reports></app-client-reports>
      </mat-card>
    </div>
  </div>
</div>
