.stat-card {
  flex: 1;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #333;

  // -title
  .stat-title {
    @apply text-xl text-white;
  }

  .stat-number {
    @apply text-4xl font-medium text-primary;
  }
}
