<div class="mb-6 flex items-center justify-between">
  <h4 class="font-bold text-primary">Monthly Orders Report</h4>

  <div class="flex gap-4">
    <button class="button primary flex gap-1">
      <span> Yearly </span>
      <mat-icon>expand_more</mat-icon>
    </button>
    <button class="button secondary flex gap-1 shadow-none">
      <span> Monthly </span>
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>

<mat-card-content>
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [grid]="chartOptions.grid"
    ></apx-chart>
  </div>
</mat-card-content>
