<div class="mx-auto max-w-[600px]">
  <div class="dash-card">
    <h2 class="m-0">{{ type === "update" ? "Update" : "Add" }} Client Data</h2>
    <form [formGroup]="addClientForm" action="">
      <div class="row align-items-center mt-3">
        <div class="col-md-9"></div>
        <div class="col-md-3 text-right">
          <mat-icon class="cursor align-middle"> close </mat-icon>
        </div>

        <div class="col-12 mt-3 mb-5 p-0">
          <mat-divider style="color: white"></mat-divider>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error
              *ngIf="addClientForm.controls['firstName'].hasError('required')"
            >
              First Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
            <mat-error
              *ngIf="addClientForm.controls['lastName'].hasError('required')"
            >
              Last Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input matInput formControlName="telNumber" />
            <mat-error
              *ngIf="addClientForm.controls['telNumber'].hasError('required')"
            >
              Contact Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error
              *ngIf="
                addClientForm.controls['email'].hasError('email') &&
                !addClientForm.controls['email'].hasError('required')
              "
            >
              Please enter a valid email address
            </mat-error>
            <mat-error
              *ngIf="addClientForm.controls['email'].hasError('required')"
            >
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="text-right">
          <button
            (click)="type === 'update' ? updateClient() : addClient()"
            class="button primary"
          >
            {{ type === "update" ? "Update" : "Add" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
