<div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 p-0 m-0">
        <div class="mat-elevation-z8">
           <mat-card class="schedule-cards">
            <mat-card-content>
                <form [formGroup]="form" action="">
                      <div class="row mt-3 align-items-center">
                        <div class="col-md-9">
                          <ng-template [ngIf]="data?.edit">
                            <h2 class="m-0 text-white">Update Appointment</h2>
                          </ng-template>
                          <ng-template [ngIf]="!data?.edit">
                            <h2 class="m-0 text-white">Add Appointment</h2>
                          </ng-template>
                        </div>
                        <div class="col-md-3 text-right">
                          <mat-icon (click)="_dialogRef.close(false)" class="align-middle cursor">close</mat-icon>
                        </div>
              
                        <div class="col-12 mt-3 mb-5 p-0">
                          <mat-divider style="color: white"></mat-divider>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label class="text-white">Start Date</mat-label>
                              <input matInput [matDatepicker]="picker" formControlName="startDateStr" />
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              <mat-error *ngIf="form.controls['startDateStr'].hasError('required')">Start Date is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label class="text-white">End Date</mat-label>
                              <input matInput [matDatepicker]="endPicker" formControlName="endDateStr" />
                                <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                                <mat-datepicker #endPicker></mat-datepicker>
                              <mat-error *ngIf="form.controls['endDateStr'].hasError('required')">End Date is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 timepicker-ui">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label class="text-white">Start Time</mat-label>
                                <input matInput formControlName="startTime" [owlDateTime]="startTime" [owlDateTimeTrigger]="startTime" placeholder="Date Time">
                                <owl-date-time #startTime [pickerType]="'timer'"></owl-date-time>
                                <mat-error *ngIf="form.controls['startTime'].hasError('required')">Start Time <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label class="text-white">End Time</mat-label>
                                <input matInput formControlName="endTime" [owlDateTime]="endTime" [owlDateTimeTrigger]="endTime" placeholder="Date Time">
                                <owl-date-time #endTime [pickerType]="'timer'"></owl-date-time>
                                <mat-error *ngIf="form.controls['endTime'].hasError('required')">End Time <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label class="text-white">Price</mat-label>
                              <input matInput type="number" formControlName="cost" />
                              <mat-error *ngIf="form.controls['cost'].hasError('required')">Price is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label class="text-white">Customer</mat-label>
                              <mat-select matNativeControl formControlName="customerID">
                                <mat-option value="">Select Customer</mat-option>
                                <mat-option *ngFor="let customer of customers" value="{{customer.customerID}}">{{customer.firstName}} {{customer.lastName}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="form.controls['customerID'].hasError('required')">Customer is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
              
                        <div class="col-md-6">
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-label class="text-white">Tatoo Location</mat-label>
                            <input matInput formControlName="tattooLocation" />
                            <mat-error *ngIf="form.controls['tattooLocation'].hasError('required')">Tatoo Location is <strong>required</strong></mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Comments</mat-label>
                            <input matInput formControlName="comments" />
                            <mat-error *ngIf="form.controls['comments'].hasError('required')">Comments is <strong>required</strong></mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Cancelled</mat-label>
                            <mat-select matNativeControl formControlName="cancelled">
                                <mat-option value="N">No</mat-option>
                                <mat-option value="Y">Yes</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-label>No Show</mat-label>
                            <mat-select matNativeControl formControlName="noShow">
                                <mat-option value="N">No</mat-option>
                                <mat-option value="Y">Yes</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label class="text-white">Reschedule</mat-label>
                              <input matInput formControlName="reschedule" />
                              <mat-error *ngIf="form.controls['reschedule'].hasError('required')">Reschedule is <strong>required</strong></mat-error>
                            </mat-form-field>
                          </div>
              
                        <div class="col-md-12 text-right">
                          <ng-template [ngIf]="data?.edit">
                            <button (click)="addSchedule()" mat-raised-button>Update</button>
                          </ng-template>
                          <ng-template [ngIf]="!data?.edit">
                            <button (click)="addSchedule()" mat-raised-button>Submit</button>
                          </ng-template>
                        </div>
                      </div>
                    </form>
            </mat-card-content>
           </mat-card>

            <!-- <mat-dialog-actions class="float-right">
                <button mat-button color="primary" (click)="closeDialog()" class="float-right">Close</button>
            </mat-dialog-actions> -->
            
        </div>
      </div>
    </div>
  </div>


  
 