<mat-sidenav-container
  (backdropClick)="closeSidenav()"
  class="sidenav-container"
  autosize=""
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'side'"
    [opened]="true"
    [ngClass]="isExpanded ? 'sidenav' : 'sidenav-1'"
  >
    <mat-nav-list>
      <a mat-list-item class="menu-icon" (click)="isExpanded = !isExpanded">
        <i class="fa-thin fa-bars"></i>
      </a>

      <a
        mat-list-item
        class="main-list-items"
        routerLink="/dashboard"
        routerLinkActive="active-link"
      >
        <i class="fa-thin fa-house pr-2 align-middle"></i> &nbsp;
        <span *ngIf="isExpanded">{{ "Dashboard" | translate }}</span>
      </a>

      <a
        mat-list-item
        routerLink="/schedule/schedule-dashboard"
        routerLinkActive="active-link"
      >
        <i class="fa-thin fa-calendar-range pr-2 align-middle"></i> &nbsp;
        <span *ngIf="isExpanded">{{ "Schedule" | translate }}</span>
      </a>

      <a
        mat-list-item
        routerLink="/client/client-dashboard"
        routerLinkActive="active-link"
      >
        <i class="fa-thin fa-user-astronaut pr-2 align-middle"></i> &nbsp;
        <span *ngIf="isExpanded">{{ "Clients" | translate }}</span>
      </a>

      <a
        mat-list-item
        routerLink="/artist/artists-dashboard"
        routerLinkActive="active-link"
      >
        <i class="fa-thin fa-user-robot pr-2 align-middle"></i> &nbsp;
        <span *ngIf="isExpanded">{{ "Artists" | translate }}</span>
      </a>

      <a
        mat-list-item
        routerLink="/dashboard/marketing"
        routerLinkActive="active-link"
      >
        <i class="fa-thin fa-chart-simple pr-2 align-middle"></i> &nbsp;
        <span *ngIf="isExpanded">{{ "Marketing" | translate }}</span>
      </a>

      <a
        mat-list-item
        routerLink="/dashboard/templates"
        routerLinkActive="active-link"
      >
        <i class="fa-thin fa-files pr-2"></i>
        <span *ngIf="isExpanded">{{ "Templates" | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav
    fixedInViewport
    #drawer1
    class="side-drawer"
    mode="over"
    position="end"
  >
    <div class="container-fluid">
      <form
        *ngIf="dialogData?.type == 'Client'"
        [formGroup]="addClientForm"
        action=""
      >
        <div class="row align-items-center mt-3">
          <div class="col-md-9">
            <ng-template [ngIf]="dialogData?.edit">
              <h2 class="m-0">Update {{ dialogData?.type }} Data</h2>
            </ng-template>
            <ng-template [ngIf]="!dialogData?.edit">
              <h2 class="m-0">Add {{ dialogData?.type }} Data</h2>
            </ng-template>
          </div>
          <div class="col-md-3 text-right">
            <mat-icon (click)="closeSidenav()" class="cursor align-middle"
              >close</mat-icon
            >
          </div>

          <div class="col-12 mt-3 mb-5 p-0">
            <mat-divider style="color: white"></mat-divider>
          </div>

          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
              <mat-error
                *ngIf="addClientForm.controls['firstName'].hasError('required')"
              >
                First Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
              <mat-error
                *ngIf="addClientForm.controls['lastName'].hasError('required')"
              >
                Last Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Contact Number</mat-label>
              <input matInput formControlName="telNumber" />
              <mat-error
                *ngIf="addClientForm.controls['telNumber'].hasError('required')"
              >
                Contact Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error
                *ngIf="
                  addClientForm.controls['email'].hasError('email') &&
                  !addClientForm.controls['email'].hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error
                *ngIf="addClientForm.controls['email'].hasError('required')"
              >
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12 text-right">
            <ng-template [ngIf]="dialogData?.edit">
              <button (click)="updateClient()" mat-raised-button>Update</button>
            </ng-template>
            <ng-template [ngIf]="!dialogData?.edit">
              <button (click)="addClient()" mat-raised-button>Submit</button>
            </ng-template>
          </div>
        </div>
      </form>

      <form
        *ngIf="dialogData?.type == 'Artist'"
        [formGroup]="addArtistForm"
        action=""
      >
        <div class="row align-items-center mt-3">
          <div class="col-md-9">
            <ng-template [ngIf]="dialogData?.edit">
              <h2 class="m-0">Update {{ dialogData?.type }} Data</h2>
            </ng-template>
            <ng-template [ngIf]="!dialogData?.edit">
              <h2 class="m-0">Add {{ dialogData?.type }} Data</h2>
            </ng-template>
          </div>
          <div class="col-md-3 text-right">
            <mat-icon (click)="closeSidenav()" class="cursor align-middle"
              >close</mat-icon
            >
          </div>

          <div class="col-12 mt-3 mb-5 p-0">
            <mat-divider style="color: white"></mat-divider>
          </div>

          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
              <mat-error
                *ngIf="addArtistForm.controls['firstName'].hasError('required')"
              >
                First Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
              <mat-error
                *ngIf="addArtistForm.controls['lastName'].hasError('required')"
              >
                Last Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="username" />
              <mat-error
                *ngIf="addArtistForm.controls['username'].hasError('required')"
              >
                User Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Role</mat-label>
              <input matInput formControlName="role" />
              <mat-error
                *ngIf="addArtistForm.controls['role'].hasError('required')"
              >
                Role is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error
                *ngIf="
                  addArtistForm.controls['email'].hasError('email') &&
                  !addArtistForm.controls['email'].hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error
                *ngIf="addArtistForm.controls['email'].hasError('required')"
              >
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                [type]="showPassword ? 'text' : 'password'"
                matInput
                placeholder="Password"
                formControlName="password"
              />

              <ion-icon
                *ngIf="!showPassword"
                (click)="toggleShow()"
                matSuffix
                name="eye-outline"
              ></ion-icon>
              <ion-icon
                *ngIf="showPassword"
                (click)="toggleShow()"
                name="eye-off-outline"
                matSuffix
              ></ion-icon>

              <mat-error
                *ngIf="addArtistForm.controls['password'].hasError('required')"
              >
                Password is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12 text-right">
            <ng-template [ngIf]="dialogData?.edit">
              <button (click)="updateArtist()" mat-raised-button>Update</button>
            </ng-template>
            <ng-template [ngIf]="!dialogData?.edit">
              <button (click)="addArtist()" mat-raised-button>Submit</button>
            </ng-template>
          </div>
        </div>
      </form>

      <ng-template [ngIf]="dialogData?.type == 'Calendar'">
        <div class="row align-items-center mt-3">
          <div class="col-md-9">
            <h2 class="m-0">
              Selected Date: {{ dialogData?.data[0].start | date }}
            </h2>
          </div>
          <div class="col-md-3 text-right">
            <mat-icon (click)="closeSidenav()" class="cursor align-middle"
              >close</mat-icon
            >
          </div>

          <div class="col-12 mt-3 mb-5 p-0">
            <mat-divider style="color: white"></mat-divider>
          </div>
        </div>

        <ng-container *ngFor="let event of dialogData.data">
          <mat-card class="artist-cards mb-3" (click)="eventDetails(event)">
            <mat-card-content>
              <div class="row">
                <div class="col-1">
                  <img
                    src="assets/images/profileImage.png"
                    class="round-img"
                    alt=""
                  />
                </div>
                <div class="col-4">
                  <span>Artist name</span>
                </div>
                <div class="col-7">
                  <span class="float-right"
                    >{{ event.extendedProps.userDTO.firstName }}
                    {{ event.extendedProps.userDTO.lastName }}</span
                  >
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-1">&nbsp;</div>
                <div class="col-4">
                  <span>Customer Name</span>
                </div>
                <div class="col-7">
                  <span class="float-right"
                    >{{ event.extendedProps.customerDTO.firstName }}
                    {{ event.extendedProps.customerDTO.lastName }}</span
                  >
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-1">&nbsp;</div>
                <div class="col-4">
                  <span>Telephone</span>
                </div>
                <div class="col-7">
                  <span class="float-right">{{
                    event.extendedProps.customerDTO.telNumber
                  }}</span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </ng-template>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="pt-3 pb-3">
      <select
        class="p-1"
        #langSelect
        (change)="translate.use(langSelect.value)"
      >
        <option
          *ngFor="let lang of langs"
          [value]="lang.value"
          [selected]="lang.value === translate.currentLang"
        >
          {{ lang.name
          }}<!-- | uppercase  -->
        </option>
      </select>

      <span class="example-spacer"></span>
      <span>InkedCRM</span>
      <span class="example-spacer"></span>

      <span class="mr-4">
        {{ "Hi " + user?.firstName | translate }}
      </span>

      <button
        mat-mini-fab
        color="accent"
        aria-label="Example icon button with a plus one icon"
        [matMenuTriggerFor]="menu1"
        matTooltipPosition="before"
      >
        <mat-icon>person</mat-icon>
      </button>

      <mat-menu #menu1="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Billing</button>
        <button mat-menu-item>Support</button>
        <button (click)="logout()" mat-menu-item>
          &nbsp; {{ "Logout" | translate }}
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
